body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    background: #f2f2f2;
    transition: 0.3s;
}

.card {
    width: 320px;
    padding: 25px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

.weatherBox {
    margin-top: 15px;
    display: none;
}

.icon {
    font-size: 45px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 15px auto;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

/* Dark Mode */
.dark {
    background: #121212;
    color: white;
}

.dark .card {
    background: #1e1e1e;
    color: white;
}